*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
body{
    background-color: whitesmoke;
}
.container{
    display: grid;
    grid-template-columns: repeat(5 auto);
    grid-template-rows: 100px 100px 100px 100px 100px 100px 30px  ;
    gap: 10px;
    margin:0 100px;
    /* text-align: start; */
}
.side-left-container, .side-right-container, .mid-down-container, .mid-up-container{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    background-color: rgb(255, 254, 254);
    padding: 20px;
    position: relative;

}
.top-container{
    text-align: center;
    }
    .top-container p{
        text-align: center;
    }
.side-left-container{
    grid-column: 2/3;
    grid-row: 3/5;
    border-top: 2px solid skyblue;

    }
.side-right-container{
    margin-right: 150px;
    grid-column: 4/5;
    grid-row: 3/5;
    border-top: 2px solid blue;

    }
.mid-up-container{
    grid-column: 3/4;
    grid-row: 2/4;
    display: flex;
    position: relative;
    flex-direction: column;
    border-top: 2px solid tomato;
    }
    .light-img, .calculator-img{
        width: 70px;
        height: 70px;
    }       
    .team-img, .search-img{
        width: 55px;
        height: 55px;
    }
    .team-img, .search-img, .calculator-img, .light-img{
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
.mid-down-container{
    grid-column: 3/4;
    grid-row: 4/6;
    border-top: 2px solid orange;
    }
.footer{
    grid-column: 1/9;
    grid-row: 7/8;
    text-align: center;
    margin-top: -70px;
}
a{
    cursor: pointer;
    text-decoration: none;
}
/*  */
@media only screen and (max-width: 600px) {
    .container{
        grid-template-columns: repeat(5, auto);
        grid-template-rows: repeat(10, 100px);
        margin-left: 32%;
        margin-right: 48%;
    }
    .top-container{
        grid-column: 1/6;
        grid-row: 1/2;
        margin: 5%;
    }
    .mid-up-container{
        grid-column: 1/6;
        grid-row: 2/3;
        margin: -30% -60%;
    }
    .side-left-container{
        grid-column: 1/6;
        grid-row: 4/5;
        margin: -30% -60%;

    }
    .mid-down-container{
        grid-column: 1/6;
        grid-row: 6/7;
        margin: -30% -60%;

    }
    .side-right-container{
        grid-column: 1/6;
        grid-row: 8/9;
        margin: -30% -60%;

    }
    .footer{
        grid-column: 1/6;
        grid-row: 9/10;
        margin: 50% -60%;
    }
}